*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #b6cae0;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    font-family: "DM Serif Text", serif;
    display: flex;
    justify-content: space-between;
}
body{
    font-family: "Montserrat Alternates", serif;
    background-color:#e1ecf8;
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
}
.logo-img{
    height: 90px;
    border-radius: 50px;
}
.titulo{
    font-size: 2em;
    margin-left: 10px;
    align-items: center;
    display: flex;
}
h1{
    text-align: center;
    display: flex;
    margin-top: 0;
    font-size: 10em;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 10px;
    padding: 1rem;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "Montserrat Alternates", serif;
}
nav ul li{
    font-size: 1em;
    margin: 35px 0;
    padding: 5px 10px;
    text-align: center;
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    transition: 0.8s;
}
nav ul li a:hover{
    color: rgb(98, 54, 255);
    transform: scale(1.2,1.2);
}
#bienvenida{
    background-color: rgb(87, 87, 119);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "Montserrat Alternates", serif;
    border-radius: 0;
}
#bienvenida p{
    font-size: 1em;
}
#bienvenida h2{
    font-size: 2em;
    font-family: "DM Serif Text", serif;
    color: coral;
    margin-bottom: 10px;
}
#img{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
#cursos{
    display: flex;
    gap: 80px;
    padding: 20px;
    align-items: flex-start;
}
#idiomas{
    flex: 3;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#idiomas h3{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    font-family: "DM Serif Text", serif;
    color: rgb(57, 51, 80);
}
#idiomas p{
    padding-bottom: 15px;
}
article img{
    /*width: 200px;
    height: auto;*/
    border-radius: 15px;
}
#caja-idiomas{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
article{
    background-color: rgb(189, 226, 238);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#imagenes{
    display: flex;
    gap: 20px;
    justify-content: center;
    transition: 0.8s;
}
#imagenes:hover{
    transform: translateY(-10px);
}
footer{
    background-color: rgb(87, 87, 119);
    text-align: center;
    color:aliceblue;
    padding: 15px;
    font-family: "Poiret One", sans-serif;
    font-size: 1.2em;
}
.fab{
    color: aliceblue;
    font-size: 1.6em;
    margin: 0 10px;
    transition: 0.8s;
}
.fa-brands{
    color: aliceblue;
    font-size: 1.6em;
    margin: 5px 10px;
    transition: 0.8s;
}
.fab:hover{
    color: coral;
    transform: scale(1.5,1.5);
}
.fa-brands:hover{
    color: coral;
    transform: scale(1.5,1.5);
}
@media (max-width: 800px) {
  body {
    font-size: 14px;
  }
  #img{
    width: 100%;
  }
}
